<html>
  <body style="margin: 20px;">
    <h1>Question</h1>
      <div> {{.UnansweredQuestion.Description}} - {{.UnansweredQuestion.RightAnswer}}</div>
      <div> {{.TotalAnsweredCorrectly}} / {{.Total}}</div>
  </body>
</html>
